@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #ffffff;
  --second-bg-color: #00e07a;
  --main-color: #00ff9e;;
}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
}

body {
  background: url(imagenes/fondo.png);
  color: #000000;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--second-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2.5rem;
  color: #2f3966;
  font-weight: 600;
  cursor: default;
}


.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

a.active {
  color: var(--main-color);
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-img img {
  width: 25vw;
  border-radius: 15%;
  box-shadow: 1px 1px 50px 1px #00000025;
}

.home-content p {
  font-size: 1.6rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 2px solid var(--main-color);
  background-color: transparent;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.5s all ease;
}

.social-media a:hover {
  background: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
}

.about {
  display: center;
  justify-content: center;
  align-items: flex-start;
  background: var(--second-bg-color);
}


.about-img img {
  width: 35vw;
  border-radius: 15%;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about-content {
  margin-left: 0px;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2.6rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/*========================================*/
.notice {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color);
}

.notice-img img {
  width: 35vw;
  border-radius: 15%;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.notice-content {
  margin-left: 50px;
}

.notice-content h2 {
  text-align: left;
  line-height: 1.2;
}

.notice-content h3 {
  font-size: 2.6rem;
}

.notice-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/*=========================================*/

.how {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: var(--bg-color-bg-color);
}

.how-img img {
  width: 35vw;
  border-radius: 15%;
}

.how {
  text-align: center;
  font-size: 4.5rem;
}

.how-content {
  margin-left: 50px;
}

.how-content h2 {
  text-align: left;
  line-height: 1.2;
}

.how-content h3 {
  font-size: 2.6rem;
}

.how-content h4 {
  font-size: 2.5rem;
}

.how-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
  text-align: left;
}

/*========================================*/

/*======================================== MAS DIVS*/
/*======================================== MAS DIVS*/
.grafica_H {
  /*background-color: rgba(153, 29, 29, 0.945);*/
  display: flex;
  align-items: center;

}
.grafica_T {
  /*background-color: rgba(155, 18, 18, 0.945);*/
  display: flex;
  justify-content: center;
  align-items: center;

}

.grafica_tiemporeal {
  /*background-color: rgba(153, 29, 29, 0.945);*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.recomendacion {
  /*background-color: rgba(56, 29, 153, 0.945);*/
  display: flex;
  align-items: center;
  flex-direction: column; /* Cambia a disposición vertical */
  order: -1; /* Mueve este elemento al principio */
}

/*========================================*/
.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #00ffbf;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.479);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #000000;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1.0;
}

/*.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.274), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}
/*============================================*/


.navbar a {
  font-size: 1.7rem;
  color: #2f3966;
  margin-left: 4rem;
  cursor: pointer;
  transition: 0.4s all ease;
}

.navbar a:hover {
  color: #fff;
}

a.active {
  color: #fff;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .header {
    padding: 2rem 5%;
  }

  .logo {
    font-size: 2rem;
  }

  .home-content h3,
  .home-content h1 {
    font-size: 2.5rem;
  }

  .home-img img {
    width: 80%;
  }

  .social-media a {
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
  }

  .about-img img,
  .notice-img img,
  .how-img img {
    width: 80%;
  }

  .heading {
    font-size: 3rem;
  }

  .btn {
    min-width: 150px;
    font-size: 10px;
  }

  .navbar a {
    font-size: 1.5rem;
    margin-left: 2rem;
  }
}

body {
  max-width: 1200px;
  margin: 0 auto;
}
